<div class="wrapper">
<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false" [isDisabled]="disabled"  (isOpenChange)="onOpenChange($event)" isOpen="true" [placement]="left">
  <!-- [autoClose]="true" toggle,show,hide方法都不好使了,应该是设置成自动打开关闭了，就不好使了 -->
  <!-- [isDisabled]="disabled" 是否禁用下拉-->
  <!-- [dropup]="isDropup" 是否向上展开 -->
  <!-- isOpen是否是打开 -->
  <!-- placement设置位置"top", "bottom", "left", "right" -->
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Button dropdown <span class="caret"></span>
    </button>
    <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-triggers-manual">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else
        here</a></li>
      <li class="divider dropdown-divider"></li>
    </ul>
  </div>
<div class="dropdownControl">
  <button type="button" class="btn btn-primary" (click)="downToggle(dropdown)">Toggle</button>
  <button type="button" class="btn btn-primary" (click)="downShow(dropdown)">Show</button>
  <button type="button" class="btn btn-primary" (click)="downHide(dropdown)">Hide</button>
  <button type="button" class="btn btn-primary" (click)="DisableOrE()">Enable/Disable</button>
</div>
</div>