<div id="modal-main">
    <div #acceptScroll class="modal-body" (scroll)="onscroll($event)">
      <div class="modal-title h2">
        Privacy Statement
      </div>
      <div style="height: 800px;">
        <p><span class="strong">This site is administered by <span class="purple">Accenture, PLC</span> on behalf of each Accenture affiliate ("Accenture"). </span>
        </p>
        <p><span class="strong">Further information on Accenture (and if relevant its representative) can be found <a class="strong"
          href="https://www.accenture.com/gb-en/legal-countries-incorporation">here.</a> Any Accenture entity located outside the European Union will be represented by Accenture PLC.  </span>
        </p>
        <div class="h4">Your privacy on Accenture's site</div>
        <p>The primary purpose of the mySupplier Setup site is to have a centralized supplier registration portal for Accenture to manage supplier relations and track prequalification, on-boarding and proactive communications.</p>
        <p>We want you to feel secure when visiting our site and are committed to maintaining your privacy when doing so. This policy explains how any personal data we may collect from or about you through this site will be processed and protected by Accenture. Any changes we may make to our privacy policy in the future will be posted on this page. </p>
        <div class="h4">What information do we gather? </div>
        <p>Accenture collects information at its sites in two ways: (1) directly (for example, when you register as an Accenture Supplier, or enter information for facilitating invoicing and payment); and (2) indirectly (for example, through our site's technology like cookie and piwik). </p>
        <p>We may collect and process the following information: </p>
        <ul class="ullist">
          <li>
            <p>Information that you provide by filling in forms on our site. This includes registering to use the site, facilitating invoicing and payment or requesting further information. Pages that collect this type of information may provide further information as to why your data is needed and how it will be used. </p>
          </li>
          <li>
            <p>Any postings, comments or other content that you upload or post to an Accenture site. </p>
          </li>
          <li>
            <p>Details of your visits to our site and resources you access (including but not limited to, traffic data, location data, weblogs and other communication data). Please see the Cookies section below for more information.</p>
          </li>
          <li>
            <p>Information entered by the supplier, including supplier inclusion and diversity information (e.g. SMEs).</p>
          </li>
        </ul>
        <p>When this information relates to or identifies you, it is "personal data".</p>
        <p>Except for certain information that is required by law, your decision to provide any personal data to us is voluntary. You will therefore not be subject to adverse consequences if you do not provide personal data. However, please note that if you do not provide certain information, we may not be able to accomplish some or all of the purposes outlined in this privacy statement, and you may not be able to use the mySupplier Setup site where it requires the use of such personal data.</p>
        <div class="h4">How and on what legal basis do we use your personal data?</div>
        <p>We use your personal data for the following purposes, and on the following legal bases:</p>
        <div class="table">
            <table border="1px">
                <tr>
                  <td style="font-weight: 600">Purpose</td>
                  <td style="font-weight: 600">Legal basis</td>
                </tr>
                <tr>
                  <td>
                    <span>
                      Providing you with information you request (including fulfilling your requests for white papers, articles, newsletters or other content).
                    </span>
                  </td>
                  <td>
                    <span>
                        Justified on the basis of our legitimate interests of ensuring that we keep our suppliers up-to-date and informed.
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>
                        Processing payment invoices.
                    </span>
                  </td>
                  <td>
                    <span>
                        Performance of a contract.
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>
                        Conducting surveys or research questionnaires, including diversity, information security and anti-corruption.
                    </span>
                  </td>
                  <td>
                    <span>
                        Justified on the basis of our legitimate interests of protecting the security of our networks, ensuring compliance and protecting our reputation. 
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>
                        Personalizing your site experience.
                    </span>
                  </td>
                  <td>
                    <span>
                        Justified on the basis of our legitimate interests of providing suppliers with an easy-to-use and efficient site.
                    </span>
                  </td>
                </tr>
            </table>
        </div>
        <p>Where the above states that we rely on our legitimate interests for a given purpose, we are of the opinion that our legitimate interests are not overridden by your interests, rights or freedoms, given (i) the transparency we provide on the processing activity and (ii) the rights you have in relation to the processing activity.</p>
        <p>In addition, we may use your personal data for other purposes which we would describe to you at the point where it is collected.</p>
        <div class="h4">Will we share your personal data with outside parties?</div>
        <p>We will not sell personal data to third parties. We generally only share personal data with the following third parties:</p>
        <ul class="ullist">
          <li>
            <p>our contracted service providers and advisors;</p>
          </li>
          <li>
            <p>third parties in the event that we sell or liquidate any part of our business or assets; </p>
          </li>
          <li>
            <p>public authorities where necessary in order to comply with any legal obligation.</p>
          </li>
        </ul>
        <p>Before sharing any personal data with third parties, we take steps to ensure that your personal data will be given adequate protection as required by relevant data protection laws and Accenture's internal policies. Any transfers of your information to third parties outside the EEA will be based on an adequacy decision or are governed by the standard contractual clauses (a copy of which can be obtained from <a href=mailto:dataprivacyofficer@accenture.com>dataprivacyofficer@accenture.com</a>).
        posted on this page. </p>
        <div class="h4">What about sensitive personal data? </div>
        <p>We do not generally seek to collect sensitive personal data through this site. In the limited cases where we do seek to collect such data, we will do this in accordance with local data privacy law requirements. If you choose to provide us with unsolicited sensitive personal data, we will only use such data subject to applicable law as described in this privacy statement. The term "sensitive personal data" refers to the various categories of personal data identified by European and other data privacy laws as requiring special treatment. These categories may include data on racial or ethnic origin, political opinions, religious, philosophical or other similar beliefs, membership of a trade union, physical or mental health, biometric or genetic data, sexual orientation, or criminal convictions and offences. </p>
        <div class="h4">What about data security?</div>
        <p>We take appropriate steps to maintain the security of personal data collected via Accenture's site. You should understand that the open nature of the Internet is such that information and personal data may flow over networks connecting you to our systems without security measures and may be accessed and used by people other than those for whom the data is intended. Our site may, from time to time, contain links to and from the sites of our partner networks, advertisers and affiliates. If you follow a link to any of these sites, please note that these sites have their own privacy policies and that we do not accept any responsibility or liability for these policies or sites. Please check these policies before you submit any personal data to these sites. </p>
        <div class="h4">Where will your personal data be processed?</div>
        <p>As a global organization, personal data we collect may be transferred internationally throughout Accenture's worldwide organization. We have internal policies in place to ensure an equivalent level of protection is in place across our organization.</p>
        <p>Any transfers of your information to other Accenture offices outside the European Economic Area ("EEA") will be governed by Accenture's binding corporate rules (a copy of which can be found <a class="strong" href="https://www.accenture.com/t00010101T000000Z__w__/gb-en/_acnmedia/PDF-52/Accenture-Public-Facing-BCR-June-2017.pdf">here</a> ). A list of the Accenture offices that may process your information, and their contact information, can be found <a class="strong" href="https://www.accenture.com/gb-en/legal-countries-incorporation">here</a> .</p>
        <div class="h4">How long do we retain your personal data?</div>
        <p>We determine the retention period of your personal data based on the following retention criteria:</p>
        <ul class="ullist">
          <li>
            <p>we retain your personal data as long as we has an ongoing relationship with you;</p>
          </li>
          <li>
            <p>we retain your personal data where we are required to do so by a legal obligation to which we are subject; </p>
          </li>
          <li>
            <p>we retain your personal data where this is advisable to safeguard or improve our legal position (for instance in relation to statutes of limitations, litigation, or regulatory investigations).</p>
          </li>
        </ul>
        <div class="h4">Your rights</div>
        <p>You are entitled (in the circumstances and under the conditions, and subject to the exceptions, set out in applicable law) to:</p>
        <ul class="ullist">
          <li>
            <p>request access to your personal data: this right entitles you to know whether we hold personal data about you and, if we do, to have access to that personal data; </p>
          </li>
          <li>
            <p>request rectification of your personal data: this right entitles you to request your personal data to be corrected or completed if it is inaccurate or incomplete;</p>
          </li>
          <li>
            <p>request erasure of your personal data: this right entitles you to request the erasure of your personal data, including where such personal data would no longer be necessary to achieve the purposes;</p>
          </li>
          <li>
            <p>object to the processing of your personal data: this right entitles you to request that Accenture no longer processes your personal data;</p>
          </li>
          <li>
            <p>request the restriction of the processing of your personal data: this right entitles you to request that Accenture only processes your personal data in limited circumstances, including with your consent;</p>
          </li>
          <li>
            <p>request a copy or the portability of your personal data: this right entitles you to receive a copy of personal data that you have provided to Accenture. </p>
          </li>
        </ul>
        <p>To exercise these rights, or if you have any questions on this privacy statement, you can contact us at: <a href=mailto:procurement.support@accenture.com>procurement.support@accenture.com</a> . You can also contact the data protection officer at <a href=mailto:dataprivacyofficer@accenture.com>dataprivacyofficer@accenture.com</a>.</p>
        <p>If, despite our commitment and efforts to protect your personal data, you believe that your data protection rights have been violated, you have the right at all times to lodge a complaint with a supervisory authority, either in the country where you live, the country where you work or the country where you deem that data protection law has been infringed.</p>
        <div class="h4">Cookies</div>
        <p>One way that we collect information is through the use of cookies. Cookies are small files of information that save and retrieve information about your visit to our tools and websites. Please read our cookies policy for further information on this.</p>
        <p>That's it in a nutshell. The short of it is-we are interested in maintaining your privacy and creating a valuable, robust site, with the best user experience possible. </p>
        <p>If you have any questions now or during your visit, please contact us at:  <a href=mailto:procurement.support@accenture.com>procurement.support@accenture.com</a> . </p>
        <p style="height:10px;"></p>
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="footerLink == ''" type="button" class="btn-modal" (click)="acceptModal('accept')" [ngStyle]="{'opacity': acceptButtonDisabled ? '1' : '0.15' }" [disabled]="!acceptButtonDisabled">Accept</button>
      <button *ngIf="footerLink == 'footerLink'" type="button" class="btn-modal" (click)="acceptModal('close')" [ngStyle]="{'opacity': buttonDisabled ? '1' : '0.15' }" [disabled]="!buttonDisabled">Close</button>
    </div>
  </div>  
