<div class="description">
  <h5>技术点1：触发变更检测机制就是调用DoCheck (实现$watch功能)</h5>
  <h5>技术点2：简单使用ngOnChange</h5>
  <h5>技术点3：自定义radio</h5>
  <h5>技术点4：ViewContainerRef动态变更模板使用</h5>
</div>

<div class="wrapper">
  <h5>动态检测DoCheck调用</h5>
  <p>
    <input [(ngModel)]="user.name" type="text" name="" id="input">
  </p>
  <h5>show message：</h5>
  <p>{{nameChangeMsg}}</p>
  <p>ngDoCheck方法被调用了{{changeCount}}次</p>

  <h5>自定义radio: 实现input get set 动态变更值操作</h5>
  <label class="rc-container">
    YES
    <input type="radio" [checked]="Status=='Y'"
      (click)="Status='Y'">
    <span class="checkmark r"></span>
  </label>
  <label class="rc-container">
    No
    <input type="radio" [checked]="Status=='N'"
      (click)="Status= 'N'">
    <span class="checkmark r"></span>
  </label>
  <br />

  <h5>viewContainerRef动态插入内嵌视图</h5>
  <div class="viewContainerRef" #containerRef>
    <app-view-container-ref [changeTemRef]="Status"></app-view-container-ref>
  </div>
</div>
