@import "../../../../assets/theme.scss";
// background-color: var(--mainDarkBackgroundColor);
.main-pages-content {
    padding: 14px;
    .down-load-PDF {
        margin-bottom: 100px;
        button {
            float: right;
            &:nth-last-of-type(1) {
             margin-right: 20px;
            }
        }
    }
}
.screeshot {
     width: 100vw;
     height: 100vh;
     position: fixed;
     left: 0;
     top: 0;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.7);
     z-index: 9999;
     box-sizing: border-box;
     &>img { // 不好用，再js里填加得
         display: block!important;
         width: 80%;
         height: auto;
         margin: 0 auto;
     }
     i {
         position: absolute;
         right: 100px;
         top: 50px;
         cursor: pointer;
         color:#ccc;
         width: 32px;
         height: 32px;
         &>svg { // 不好使
             display: block!important;
             width: 100%!important;
             height: 100%!important;
         }
     }
}
::ng-deep {
     .anticon svg {
         width: 100%;
         height: 100%;
     }
}
