<div class="header blue-gradient">
  <app-header-bar></app-header-bar>
  <div class="row banner">
    <div class="col-6">
      <div class="welcome_message medium">
        Hi, Buyer!
      </div>
      <div class="search">
        <div class="search_bg">
          <i class="material-icons">search</i>
          <input type="text" class="search medium" placeholder="Quick Search" />
        </div>
      </div>
    </div>
    <div class="col-6 menu_items d-flex justify-content-end">
      <div class="item hover_pointer active">
        <div class="circle">
          <i class="material-icons dashboard">dashboard</i>
        </div>
        <div class="medium">Dashboard</div>
      </div>
      <div class="item hover_pointer">
        <div class="circle">
          <i class="material-icons my_account">account_circle</i>
        </div>
        <div class="medium">My Account</div>
      </div>
      <div class="item hover_pointer">
        <div class="circle">
          <i class="material-icons my_suppliers">group</i>
        </div>
        <div class="medium">My Suppliers</div>
      </div>
    </div>
  </div>
</div>