<div id="headerBar" class="w-100 row header-top-bar page-padding-x">
  <div class="col-6 logo medium d-flex align-items-center">
    <img src="./assets/images/iconB4P.png" />
    Supplier Hub
  </div>
  <div class="col-6 menu-icon d-flex align-items-center justify-content-end">
    <i class="material-icons hover_pointer">search</i>
    <i class="material-icons page-padding-left hover_pointer">apps</i>
    <i class="material-icons page-padding-left hover_pointer">notifications</i>
    <i class="material-icons page-padding-left hover_pointer">help</i>
    <i class="material-icons page-padding-left hover_pointer">settings</i>
    <!-- <i class="material-icons page-padding-left hover_pointer">account_circle</i> -->
    <!-- <app-user-menu></app-user-menu> -->
  </div>
</div>
