<h2>去抖请求</h2>
<button appDebouncEvent type="button" class="btn btn-primary btn-sm" (debounceClick)="sendRequest($event)">去抖点击</button>

<ng-container *ngFor="let i of tabs">
    <input type="text" [(ngModel)]="i.title" name="" id="responseData" (ngModelChange)="ngModelChange(i)">
</ng-container>


<div style="margin-top: 20px;" id="my-element">
<p><strong>什么是观察者?</strong></p>
<ol>
<li>观察者是有Observable(可观察对象)发送值的消费者</li>
<li>观察者只是一组回调函数的集合,每个回调函数对应一种Observable发送的通知类型:next,error,complete</li>
</ol>
<p><strong>什么是可观察对象?</strong></p>
<ul>
<li>可观察对象(Observable)是一个惰性推送集合,即:要调用Observable并看到这些值,需要订阅Observable: <br>
<code>observable.subscribe()</code></li>
</ul>
<p>参阅文档:<a href="http://cn.rx.js.org/manual/index.html" rel="nofollow" data-token="b109fee611b4eac2920a114ac53772d3">http://cn.rx.js.org/manual/index.html</a></p> 
</div>
