<div class="wrapper">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" >
        <li nz-menu-item>
          <a href="#">在线竞拍</a>
        </li>
        <li nz-menu-item>
          <a href="#">关于我们</a>
        </li>
        <li nz-menu-item>
          <a href="#">联系我们</a>
        </li>
        <li nz-menu-item>
          <a href="#">网站地图</a>
        </li>
      </ul>
    <!-- <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;">
        <i nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"></i>
     </button> -->
</div>
<!-- <div class="miniList">
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" >
    <li nz-menu-item>
      <a href="#">关于我们</a>
    </li>
    <li nz-menu-item>
      <a href="#">联系我们</a>
    </li>
    <li nz-menu-item>
      <a href="#">网站地图</a>
    </li>
  </ul>
</div> -->

