<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <!-- 处于一直时显示状态标签 -->
    <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline>
  </div>
</div>
<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group" [formGroup]="form">
      <!-- [formGroup]="form"需要添加，否则报错 -->
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             #dp="bsDatepicker"
             bsDatepicker
             formControlName="dateYMD"
             [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' }">
             <!-- adaptivePosition设置是否自适应位置 -->
             <!-- #dp="bsDatepicker"可将ref datepicker倒出到任何位置调用 -->
             <!--formControlName="dateYMD" dateInputFormat: 'YYYY-MM-DD' 可设置日期格式 -->
             <!-- 还有：formControlName="dateFull"，dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' -->
             <!-- formControlName="dateRange"，rangeInputFormat: 'MMMM Do YYYY, h:mm:ss a' -->
             <!-- BsLocaleService可以转换不同语言，见官网有介绍 -->
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
        <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Date Picker</button>
    </div>
</div>

<!-- 可以更改颜色，有六种颜色供选择 -->
<div class="row">
    <div class="col-xs-12 col-12 col-md-4 col-lg-4 form-group">
      <select
        class="custom-select form-control"
        [(ngModel)]="colorTheme" (ngModelChange)="applyTheme(dp);">
        <option value="theme-default">default</option>
        <option value="theme-green">green</option>
        <option value="theme-blue">blue</option>
        <option value="theme-dark-blue">dark-blue</option>
        <option value="theme-red">red</option>
        <option value="theme-orange">orange</option>
      </select>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="col-xs-12 col-12 col-md-5 col-lg-5 form-group">
      <div class="form-group">
        <div class="input-group">
          <input type="text" 
          class="form-control" 
          bsDatepicker 
          #dp="bsDatepicker" 
          [bsConfig]="bsConfig"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [daysDisabled]="[6,0]"
          [datesDisabled]="disabledDates">
          <!-- [minDate]="minDate"
           [maxDate]="maxDate" 可以设置可供选择的最大和最小日期 -->
           <!-- daysDisabled 禁用一周中的某些天-->
           <!-- [datesDisabled]="disabledDates" 是一个数组，填入要禁用的那些天 -->
          <div class="input-group-btn">
            <button class="btn btn-success" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen">Open</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
              class="form-control"
              [bsConfig]="bsConfig"
              #dp="bsDatepicker"
              bsDatepicker 
              [(bsValue)]="bsValue"
              placement="right"
              (onShown)="handler('onShown')"
              (onHidden)="handler('onHidden')"
              (bsValueChange)="onValueChange($event)"
              [outsideClick]="false"
              triggers="mouseenter:click">
              <!-- [isDisabled]直接可设置日期是否可选择 -->
              <!-- placement="right" 依然设置位置 -->
              <!-- selectWeek: true, 选择周第一天 selectFromOtherMonth: true 选择其他月-->
              <!-- [outsideClick]="false" 点击外部不关闭 -->
              <!-- [isOpen]="isOpen" 是否打开属性 -->
              <!-- triggers="mouseenter:click"可设置打开触发方式 有triggers="keydown:click" triggers="dblclick:click"-->
    </div>
    <div class="col-xs-12 col-12 col-md-3 form-group">
      <button class="btn btn-success" (click)="dp.toggle()">Date Picker</button>
    </div>
  </div>
  <br>

  <!-- 特殊的设置颜色api，重点 -->
  <div class="row">
    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
      <input class="form-control"
              placeholder="Datepicker"
              ngModel
              bsDatepicker
              [bsConfig]="{ dateCustomClasses: 'dateCustomClasses'}"
              >
              <!-- 并没有成功[dateCustomClasses]="dateCustomClasses"，这个应该可以考虑一下指令了 -->
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
      <input class="form-control"
              placeholder="Daterangepicker"
              ngModel
              bsDaterangepicker
              >
    </div>
  </div>