<div style="margin-top: 20px">
  <label class="rc-container">
    YES
    <input type="radio" [checked]="Status=='Y'"
      (click)="Status='Y'">
    <span class="checkmark r"></span>
  </label>
  <label class="rc-container">
    No
    <input type="radio" [checked]="Status=='N'"
      (click)="Status= 'N'">
    <span class="checkmark r"></span>
  </label>
</div>

<div [ngClass]="{'styled-component': Status=='Y', 'basic-component': Status=='N'}">
  <p>I am parent <strong>(看host-child的scss文件)</strong> </p>
  <app-host-child></app-host-child>
</div>

<h3>star checkbox</h3>
<app-star-checkbox class="star-checkbox-wrapper" (checkedChange)="checkedChange($event)" [disabled]="false" [checked]="Status=='Y'" id="association-table-body-checkbox"></app-star-checkbox>
