// @import '~src/assets/base.scss';
/*
$full-width: 100%;
$full-height: 100%;
$menu-width: 3rem;
$fold-menu-width: .7rem;
$color-azure-blue: #2473C3;
$color-white: #fff;
$color-black: #000;
$color-grey-blue: #AAC1CE;
$color-purple: #B894DB;
$color-aqua: #82D2EB;
$color-blue-pearl: #98B9E9;
$color-teal: #77CCCE;
$color-blush: #FF8D8D;
$color-honey: #FFD272;
$color-tangerine: #FFAD75;
$color-true-blue: #1E5D95;
$color-powder-blue: #EAF3FA;
$color-super-light-grey: #F5F6F8;
$color-regular: #4D5D72;
$color-grey: #65758B;
 
@mixin menuBase($menuWidth: $menu-width) {
    width: $menuWidth;
    background: $color-grey-blue;
    position: relative;
}

@mixin liBase($fontSize:0.3rem, $height:0.8rem) {
    width: $full-width;
    height: $height;
    line-height: $height;
    text-align: center;
    font-size: $fontSize;
    color: $color-black;
    list-style: none;
}

@mixin liHover {
    cursor: pointer;
    background: $color-super-light-grey;
    color: $color-purple;
}

@mixin mainBase {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $color-grey-blue;
}

.container-layout {
    display: flex;
    min-height: $full-height;
    .asild-menu {
        @include menuBase();
        .menu {
            width: $full-width;
            li {
                @include liBase();
            }
            &>li:hover {
                @include liHover;
            }
        }
    }
    .fold-asild-menu {
        @include menuBase($fold-menu-width);
        .menu-mini {
            width: $full-width;
            margin-top: .5rem;
            li {
                @include liBase(0.16rem, 0.5rem);
            }
            &>li:hover {
                @include liHover;
            }
        }
    }
    .menuActive {
        background: $color-honey;
        color: $color-blush;
    }
    .fold {
        position: absolute;
        right: 5%;
        bottom: .5rem;
        width: .3rem;
        height: .3rem;
        cursor: pointer;
        img {
            position: absolute;
            top: 0;
            width: $full-width;
            height: $full-height;
        }
    }
    .title {
        font-size: .25rem;
        line-height: .5rem;
        color: $color-regular;
        text-align: center;
    }
    .main {
        @include mainBase;
        @at-root .main-content {
            flex: 1;
            background: $color-blue-pearl;
            .content-describe {
                font-size: .2rem;
                color: $color-black;
                height: calc(100%- 0.75rem - 2px)
                margin: 0 .8rem .25rem;
                padding: .5rem .6rem .8rem 1rem;
                border: 1px solid $color-grey;
                background-clip: content-box;
                background-color: $color-powder-blue;
            }
        }
        @at-root .everyDesc {
            color: $color-black;
            font-size: .3rem;
        }
    }
    .fold-main {
        @include mainBase;
    }
    .main-header,
    .main-footer {
        height: .5rem;
        background: $color-super-light-grey;
    }
}
*/
