<div class="container-layout">
  <aside class="asild-menu">
    <p class="title">
        我是左侧菜单
    </p>
    <ul class="menu">
      <li *ngFor="let list of tabs" (click)="menuclick(list)" [ngClass]="{'menuActive':list.active}">{{list.title}}</li>
    </ul>
  </aside>
  <section class="main">
    <header class="main-header">
      <p class="title">
        我是头部
      </p>
    </header>
    <section class="main-content">
      <p class="title">
          我是主要内容区
      </p>
      <div class="content-describe">
        <p class="everyDesc">我的宽度是{{contentWidth}},</p>
        <p class="everyDesc">我的高度是{{contentHeight}},</p>
        <p class="everyDesc">我的左内边距是{{contentPaddingLeft}},</p>
        <p class="everyDesc">我的右内边距是{{contentPaddingRight}},</p>
        <p class="everyDesc">我的上内边距是{{contentPaddingTop}},</p>
        <p class="everyDesc">我的下内边距是{{contentPaddingBottom}},</p>
        <p class="everyDesc">我的左外边距是{{contentMarginLeft}},</p>
        <p class="everyDesc">我的右外边距是{{contentMarginRight}},</p>
        <p class="everyDesc">我的上外边距是{{contentMarginTop}},</p>
        <p class="everyDesc">我的下外边距是{{contentMarginBottom}},</p> 
      </div>
    </section>
    <footer class="main-footer">
      <p class="title">
          我是页脚
      </p>
    </footer>
  </section>
</div>
