.disabled {
  opacity: 0.5
  // 注意 .rc-container:hover input ~ .checkmark在css里的写法，写成如下
}
  
.rc-container >input:checked ~ .checkmark {
    background-color: #2828ff;
}
  
.checkmark  {// 全局也可以定义
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border: #2828ff 2px solid;
}