<carousel [noPause]="false" pauseOnFocus="true" [noWrap]="noWrapSlides" [showIndicators]="showIndicator" [interval]="myInterval" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="logSlideChange($event)">
  <!-- noPause设置成false，当你hover时自动停止 -->
  <!-- pauseOnFocus又是一个不能作为输入属性绑定 -->
  <!-- noWrap设置为true禁止大图滚动 -->
  <!-- showIndicators是否显示下面翻页器 -->
  <!--  [interval]="false" 停止轮播: 还可以接受数字，设定轮播时间，要清除定时器 -->
  <slide>
    <img src="assets/images/accenture_logo.svg" alt="First slide" style="display: block; width: 30%; height: 40%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/B4P logo.png" alt="Second slide" style="display: block; width: 30%;height: 40%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
</carousel>
