<!-- NG-ZORRO -->
<nz-layout class="layout theme-wrapper" id="theme-wrapper" *ngIf="isShowQuestion === 'oldValue'" [ngClass]="{'headlight': theme, 'headark': !theme}">
  <nz-header style="height: 60px;" >
    <span style="display: inline-block;">
      <button class="btn btn-primary" (click)="goToQuestionnaire()">questionnaire</button>
    </span>
    <span style="float: right">
      <input #colorSelector type="color">
      <button class="btn btn-primary" (click)="changeToRed(colorSelector.value)">切换主题</button>
    </span>
  </nz-header>
  <div nz-row class="main-layout">
    <div nz-col nzSpan="4">
      <app-menu [theme]="theme"></app-menu>
    </div>
    <div nz-col nzSpan="20" id="mainlayout">
      <!-- id="mainlayout" 在子组件里，使用var()函数没能更改，要研究一下使用:host-content() -->
      <!-- 添加tabs -->
      <nz-tabset [nzType]="'card'" [nzSelectedIndex]="index">
        <nz-tab *ngFor="let tab of tabs; let i = index;" [nzTitle]="titleTemplate" (nzClick)="activeTab(tab.title, i)">
          <ng-template #titleTemplate>
            <div>{{ tab.title }}
              <span style="display: inline-block; width: 30px; height: 100%;" (click)="$event.stopPropagation(); closeTab(tab)">
                 X
              </span>
            </div>
          </ng-template>
          <!-- <app-github-corner></app-github-corner> -->
          <app-layout></app-layout>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</nz-layout>
<!-- 单独跳转到rem布局页面，使用辅助路由(并没有实现，需要深入人研究辅助路由，这里提示辅助路由只可以作为跳转的子路由么？？？ -->
<!-- <router-outlet name="remaux"></router-outlet> -->
<app-simpleQuestionnaire *ngIf="isShowQuestion === 'newValue'"></app-simpleQuestionnaire>