@import "../assets/theme.scss";

body{
  color: black;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.layout{
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--customBackgroundColor);
}
.main-layout{
  max-height: calc(100% - 66px);
  overflow: hidden;
}
// 主题定制
.headark{
  .ant-layout-header{
    background-color: myVar(--darkBackgroundColor);
  }
  #mainlayout{// 这个地方使用var才好使
    background-color: var(--mainDarkBackgroundColor);
  }
}

.headlight{
  .ant-layout-header{
    background-color: myVar(--lightBackgroundColor);
  }
  #mainlayout{ // 这个地方使用var才好使
    background-color: var(--mainLightBackgroundColor);
  }
}

// 如何让全局都实现这种自定义滚动条！！！
.wpc::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.wpc::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}

.wpc::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: rgba(0,0,0,.26);
}

::ng-deep .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  padding-right: 0px;
}