<!-- NG-ZORRO -->
<nz-layout class="layout">
  <nz-header>
    <!-- <div class="logo"></div> -->
    <app-navbar></app-navbar>
  </nz-header>
  <nz-layout>
      <div nz-row>
        <div nz-col nzSpan="6">
          <app-search></app-search>
        </div>
        <div nz-col nzSpan="18">
            <div nz-row>
              <app-carousel></app-carousel>
            </div>
            <div nz-row>
              <app-product></app-product>
            </div>
        </div>
      </div>
  </nz-layout>
  <nz-footer>
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
