.example-card {
    float: left;
    width: 220px;
    height: auto;
    border: 2px solid gray;
    margin: 20px;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
.example-panel-red.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
}
    
.example-panel-green.mat-select-panel {
    background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-select-panel {
    background: rgba(0, 0, 255, 0.5);
}