<nz-content style="background:#fff; padding: 24px; min-height: 280px;">
  <div nz-row>
    <p><span>商品id是{{routerId}}</span></p>
  </div>
  <div nz-row>
    <input nz-input class="pipeFilter" [formControl]="titleFilter" placeholder="请输入商品名称">
  </div>
  <div nz-row>
    <div *ngFor="let product of products | filter:'title',keyWord" class="thumbnail"  nz-col nzSpan="8">
      <img src="http://placehold.it/320x150" alt="">
      <div class="caption">
        <h4 class="pull-right">{{product.price}}</h4>
        <h4><a href="#">{{product.title}}</a></h4>
        <p>{{product.desc}}</p>
      </div>
      <div>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>
</nz-content>
