<div #ScrollWrapper class="scrollwrapper" appScrollDirective  [scrollTarget]="ScrollWrapper" (changeHeight)="changecontentHeight($event)">
  <h2 style="cursor: pointer;" (click)="handleClick()">注解显示：点击测试注解使用confirm</h2>
  {{result}}
  <div class="clickOutSideWrapper">
      <label for="testSelect">测试select打开关闭</label>
      <br>
      <input id="testSelect" class="click-outside-input" type="text" [(ngModel)]="clickOutsideInputValue" (ngModelChange)="ngModelChange(clickOutsideInputValue)" (click)="asyncClick()"
      (keyup.enter)="setInfo()" #input >
      <ul *ngIf="showUl" appClickOutside (clickOutside)="onClickOutside($event)">
        <li *ngFor="let i of arr">{{i}}</li>
      </ul>
  </div>
  <p *ngFor="let i of arr" >
    人同意同意同意
  </p>
</div>
