<div #ScrollWrapper class="scrollwrapper" appScrollDirective  [scrollTarget]="ScrollWrapper" (changeHeight)="changecontentHeight($event)">
  <h2 style="cursor: pointer;" (click)="handleClick()">注解显示：点击测试注解使用confirm</h2>
  {{result}}
  <div class="clickOutSideWrapper">
      <label for="testSelect">测试select打开关闭</label>
      <br>
      <input id="testSelect" class="click-outside-input" type="text" [(ngModel)]="clickOutsideInputValue" (ngModelChange)="ngModelChange(clickOutsideInputValue)" (click)="asyncClick()"
      (keyup.enter)="setInfo()" #input >
      <ul *ngIf="showUl" appClickOutside (clickOutside)="onClickOutside($event)">
        <li *ngFor="let i of arr">{{i}}</li>
      </ul>
  </div>
  <h5>技术点1：注解的使用</h5>
  <h5>技术点2：自定义droplist点击外部关闭，完美实现</h5>
  <h5>技术点3：指令变更滚动条</h5>
  <p>
    开始滚动，使用指令为宿主元素添加相应class，有定义好的滚动条样式，自动填上，当达到极限，使用数据变更宿主元素的高度
  </p>
  <p *ngFor="let i of arr" >
    人同意同意同意
  </p>
</div>
