/* Create a custom checkbox */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 1.5rem;
//   width: 1.5rem;
//   background-color: #fff;
//   border: #4e4e87 2px solid;
// }

// /*set round corner for radio button*/
// .checkmark.r {
//   border-radius: 50%;
// }

// /* On mouse-over, add a grey background color */
// .sc-container:hover input ~ .checkmark {
//   background-color: #fff;
// }

// input[type="text"]:disabled {
//   background: white;
//   padding: 0;
// }

// select:disabled {
//   width: auto;
//   padding: 0;
//   background: white!important;
// }

// /* When the checkbox is disabled, add a blue background */
// .sc-container input[type="checkbox"]:disabled ~ .checkmark {
//   opacity: 0.5
// }
// .sc-container input[type="radio"]:disabled ~ .checkmark {
//   opacity: 0.5
// }

// /* When the checkbox is checked, add a blue background */
// .sc-container input:checked ~ .checkmark {
//   background-color: #4e4e87;
// }


// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .sc-container input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the checkmark/indicator */
// .sc-container .checkmark:after {
//   left: 6px;
//   top: 2px;
//   width: 6px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 .15rem .15rem 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

.disabled {
  opacity: 0.5
}

.sc-container {
  position: relative;
  input {
    display: none;
  }
  input:checked ~ .checkmark {
    background-color: transparent;
    // background-color: #2828ff;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: darkgoldenrod;
  // border: #2828ff 2px solid;
  border: none;
  .checkcolor {
    background-color: transparent;
    color: #a100ff;
  }
  .uncheckcolor {
    // background-color: transparent;
    // color: white;
  }
}

:host ::ng-deep{
  .anticon {
    font-size: 30px;
  }
}
