@import '~src/assets/base.scss';
#mainLayout{
    height: calc(100vh - 66px);
    overflow-y: auto; /*使主要内容去产生滚动条*/ 
    overflow-x: hidden; /*横向不出滚动条，出现滚动条会影响height的设置*/ 
    @include mixin-min-scroll; /*scss 定制滚动条样式 ！！！*/ 
    p{
        color: black;
    }
}
