<div #side_Nav id="side_nav" class="side-nav" [ngStyle]="{'height': side_navHeight}" *ngIf="isDisable">
  <div class="header_text" style="color: #fff">
    <span style="font-size: 1.4rem">Back to ...</span>
    <label class="cancel" (click)="cancel()">
      <i class="material-icons">clear</i>
    </label>
  </div>
  <ng-container *ngIf="userType === 'supplier' && onBoardingStatus">
    <div class="header_text active">
      <div class="btnCss" (click)="backTo('Dashboard')">
        <label class="circle">
          <i class="material-icons">assignment</i>
        </label>
        <span>Onboarding Process</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="userType === 'buyer'">
    <div class="header_text active">
      <div class="btnCss" (click)="backTo('Dashboard')">
        <label class="circle">
          <i class="material-icons">dashboard</i>
        </label>
        <span>Dashboard</span>
      </div>
    </div>
  </ng-container>
  <div class="header_text active" *ngIf="userType === 'supplier'">
    <div class="btnCss" (click)="backTo('Profile')">
      <label class="circle">
        <i class="material-icons">account_circle</i>
      </label>
      <span>My Profile</span>
    </div>
  </div>
  <div class="header_text active" *ngIf="userType === 'supplier'">
    <div class="btnCss" (click)="backTo('Manage')">
      <label class="circle">
        <i class="material-icons">group</i>
      </label>
      <span>Manage Consent</span>
    </div>
  </div>
  <div class="header_text active" *ngIf="userType === 'supplier'">
    <div class="btnCss" (click)="backTo('History')">
      <label class="circle">
        <i class="material-icons">history</i>
      </label>
      <span>Transactions</span>
    </div>
  </div>
</div>