.validform{
    label{
      width: 16%;
      margin-right: 8px;
      text-align: center;
    }
    .errormsg{
      color: red;
      font-size: 12px;
    }
}

/*根据angular自动添加类定义样式，如下*/ 
.ng-invalid {
  border: 1px solid yellow;
}
