/* You can add global styles to this file, and also import other style files */

// @import "src/wpcScss.scss"; // 引入scss文件进行使用

@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "./assets/css/site.css";
@import "./assets/css/common.css";
@import "./assets/css/table.css";
@import "./assets/css/form.css";
@import "./assets/css/icons.css";
@import "./assets/css/fonts.css";
@import "./assets/css/dialog.css";
@import "./assets/css/progress.css";

// 直接在这个里引入，即可，无需再angular.json引入避免混乱
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

// import Prime-NG 样式
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

:host>>>.tooltip-parent{
  position: relative;
  left: 0;
  top: 0;
}
:host>>>.tip-container{
  position:absolute;
  max-width:300px;
  z-index:999;
  background-color: rgb(25, 16, 109);
}
:host>>>.tip-content{
    border:1px solid gray;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding:5px;
    background-color: rgb(25, 16, 109);
    color: #fff;
}
:host>>>.tip-arrow{
    position:absolute;
    border:7px solid transparent;
}
:host>>>.tip-arrow:after{
    position:absolute;
    content:'';
    width:0;height:0;
    box-sizing:border-box;
    border:7px solid transparent;
}

:host>>>.tip-content.top{
    margin-bottom:7px;
}
:host>>>.tip-arrow.top{
    border-bottom-width:0;bottom: 0;left:50%;margin-left: -7px;
    border-top-color:gray;
}
:host>>>.tip-arrow.top:after{
    margin-left:-7px;
    margin-top:-8px;
    border-bottom-width:0;
    border-top-color:#fff;
}

:host>>>.tip-content.bottom{
    margin-top:7px;
}
:host>>>.tip-arrow.bottom{
    border-top-width:0;top: 0;left:50%;margin-left: -7px;
    border-bottom-color:gray;
}
:host>>>.tip-arrow.bottom:after{
    margin-left:-7px;
    margin-top:1px;
    border-top-width:0;
    border-bottom-color:#fff;
}

:host>>>.tip-content.left{
    margin-right:7px;
}
:host>>>.tip-arrow.left{
    border-right-width:0;right: 0;top:50%;margin-top: -7px;
    border-left-color:gray;
}
:host>>>.tip-arrow.left:after{
    margin-left:-8px;
    margin-top:-7px;
    border-right-width:0;
    border-left-color:#fff;
}

:host>>>.tip-content.right{
    margin-left:7px;
}
:host>>>.tip-arrow.right{
    border-left-width:0;left: 0;top:50%;margin-top: -7px;
    border-right-color:gray;
}
:host>>>.tip-arrow.right:after{
    margin-left:1px;
    margin-top:-7px;
    border-left-width:0;
    border-right-color:#fff;
}
