<nz-sider [nzWidth]="200" style="background:#fff">
    <form nz-form>
      <nz-form-item>
        <nz-form-label  nz-row [nzSpan]="24" nzFor="producName">商品名称</nz-form-label>
        <nz-form-control nz-row  [nzSpan]="12">
          <input nz-input name="producName" type="text" id="producName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  nz-row [nzSpan]="24" nzFor="producPrice">商品价格</nz-form-label>
        <nz-form-control nz-row  [nzSpan]="12">
          <input nz-input name="producPrice" type="text" id="producPrice">
        </nz-form-control>
      </nz-form-item>
      <!-- 1.在ng2表单中使用ngModel需要注意,必须带有name属性或者使用 [ngModelOptions]=”{standalone: true}”，二选其一。因为ngForm持有通过ngModel指令和name属性为各个元素创建的那些控件，并且监视它们的属性变化，包括有效性。 它还有自己的valid属性，只有当其中所有控件都有效时，它才有效。
      2.使用button时需要注明type类型,未注明类型的button会默认为submit，当你点击一个非提交表单按钮时也会提交表单，所以要注明type=”button” -->
      <!-- form表单元素里使用ngModule需要使用name属性绑定到每个标签，或者设置[ngModelOptions]=”{standalone: true}”-->
      <nz-form-item>
          <nz-form-label nz-row [nzSpan]="24" >商品类别</nz-form-label>
          <div nz-row>
            <div nz-col nzSpan="12">
                <nz-select [ngModelOptions]="{standalone: true}" style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
                  <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                  <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                  <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                </nz-select>
            </div>
          </div>
      </nz-form-item>
      <button nz-button nzType="primary"><i nz-icon type="search"></i>搜索</button>
    </form>
</nz-sider>
