<div style="width: 100%;">
  <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;">
    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
  </button>
  <!-- 使用material引入自定义icon -->
  <!-- <mat-icon svgIcon="accentureIconnName"></mat-icon> -->
  <ul nz-menu nzMode="inline" [nzTheme]="theme ? 'light' : 'dark'" [nzInlineCollapsed]="isCollapsed" class="menuUl">
    <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzTooltipTitle="!isCollapsed ? 'Navigation One' : '' "
      nzSelected (click)="goToHomePage()">
      <i nz-icon nzType="mail"></i>
      <span>Navigation One</span>
    </li>
    <li nz-submenu *ngFor="let item of angularMenu" [nzTitle]="item" nzIcon="appstore">
      <ul>
        <li nz-menu-item *ngFor="let i of angularMenuObj[item]">
          <a (click)="menuClick(item, i)">{{i}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>