.login {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    .fullScreen {
        width: 100%;
        height: 100%;
    }
    h1 {
        position: absolute;
        background: -webkit-linear-gradient(#bbabe9, #57468d);
        font-family: "proxima nova","Roboto","helvetica",Arial,sans-serif;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 50px;
    }
}